{% extends "backend/skeleton.twig" %}
{% block additional_title %}{{title}}{% endblock %}
{% block title_menu %}{{title}}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="{{base_url()}}">Home</a></li>
    <li class="breadcrumb-item"><a href="{{base_url()}}backend/page/cardFamily">Data Kartu Keluarga</a></li>
    <li class="breadcrumb-item active">{{title}}</li>
</ol>
{% endblock %}
{% block main_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-10 mb-3">
                <h6 class="m-0 text-muted font-weight-normal">Daftar Anggota Keluarga <span class="text-primary font-weight-bold">#{{detail.number}}</span></h6>
            </div>
            <div class="col-12 col-md-2 text-right">
                <a class="btn btn-default mr-2" href="{{base_url()}}backend/page/cardFamily"><i class="fas fa-reply"></i>  Kembali</a>
                <a class="btn btn-primary" href="{{base_url()}}backend/page/formFamily/{{detail.id}}"><i class="fas fa-plus"></i>  Tambah</a>
            </div>
            <div class="col-12 mt-2">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 5%">No</th>
                                    <th style="width: 15%">Kode</th>
                                    <th style="width: 20%">Nama</th>
                                    <th style="width: 10%">Jenis Kelamin</th>
                                    <th style="width: 10%">Status</th>
                                    <th style="width: 10%">Tempat Lahir</th>
                                    <th style="width: 10%">Tanggal Lahir</th>
                                    <th style="width: 10%">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block custom_js %}
<script>
    $(function () {
        list();
    });

    function list() {
        $.ajax({
            url: "{{base_url()}}api/backend/family/listFamily?parent_id={{detail.id}}",
            type: "GET",
            dataType: "JSON",
            headers: {
                "Authorization": localStorage.getItem('key')
            },
            success: function(data) {
                if ($.fn.DataTable.isDataTable('.table')) {
                    $('.table').DataTable().destroy();
                }
                $('.table tbody').empty();
                if (data.status) {
                    $(".table").DataTable({
                        data: data.data,
                        aoColumns: [
                            { mData: 'id' },
                            { mData: 'code' },
                            { mData: 'name' },
                            { mData: 'gender' },
                            { mData: 'status' },
                            { mData: 'birth_place' },
                            { mData: 'birth_date' },
                            { mData: 'action' }
                        ],
                        responsive: true,
                        lengthChange: false,
                        autoWidth: false,
                        info: true,
                        ordering: false,
                        language: {
                            emptyTable: "Belum ada riwayat Anggota Keluarga"
                        }
                    });
                } else {
                    $(".table").DataTable({
                        language: {
                            emptyTable: "Belum ada riwayat Anggota Keluarga"
                        }
                    });
                }
            },
            error: function(err) {
                alert(err);
            }
        });
    }

    function deleteData(id) {
        Swal.fire({
            icon: 'warning',
            title: 'Apakah kamu yakin ?',
            text: "Kamu akan menghapus data yang terpilih",
            showCancelButton: true,
            confirmButtonText: 'Ya',
            cancelButtonText: 'Batal',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    url: "{{base_url()}}api/backend/family/deleteFamily",
                    type: "POST",
                    dataType: "JSON",
                    headers: {
                        "Authorization": localStorage.getItem('key')
                    },
                    data: {
                        id : id
                    },
                    success: function(data) {
                        if (data.status) {
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: data.message,
                                showConfirmButton: false,
                                timer: 1500
                            });
                            list();
                        } else {
                            Swal.fire({
                                position: 'center',
                                icon: 'error',
                                title: data.message,
                                showConfirmButton: false,
                            });
                        }
                    },
                    error: function(err) {
                        alert(err);
                    }
                });
            }
        })
    }
</script>
{% endblock %}