<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta_head %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% endblock %}
  <title>Donasi Cendana</title>
  {% block css %}
  <!-- Favicons -->
  <link href="{{base_url()}}assets/template/frontend/img/favicon.png" rel="icon">
  <link href="{{base_url()}}assets/template/frontend/img/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="{{base_url()}}assets/template/frontend/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{base_url()}}assets/template/frontend/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="{{base_url()}}assets/template/frontend/vendor/aos/aos.css" rel="stylesheet">
  <link href="{{base_url()}}assets/template/frontend/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="{{base_url()}}assets/template/frontend/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="{{base_url()}}assets/template/frontend/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="{{base_url()}}assets/template/frontend/css/style.css" rel="stylesheet">

  <!-- Sandbox plugins -->
  <script type="text/javascript" src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="{{midtrans_key}}"></script>
  {% endblock %}

  <!-- =======================================================
  * Template Name: FlexStart - v1.1.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <img src="{{base_url()}}assets/template/frontend/img/logo.png" alt="">
        <span class="ml-2">Donation Cendana</span>
      </a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#tree-family">Pohon Keluarga</a></li>
          <li><a class="nav-link scrollto" href="#gallery">Galeri</a></li>
          <li><a class="nav-link scrollto" href="#events">Kegiatan</a></li>
          <li><a class="getstarted scrollto" href="#donation">Donasi Sekarang</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Home Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6" data-aos="zoom-out" data-aos-delay="200">
          <img src="{{base_url()}}assets/template/frontend/img/hero-img.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <h1 data-aos="fade-up">Yuk bantu keluarga lainnya dengan Donasi</h1>
          <h2 data-aos="fade-up" data-aos-delay="400">Ketika kamu bersedekah, kamu bukan sedang menghabiskan uangmu.
            Tapi kamu sedang mentransfernya untuk dirimu sendiri di waktu yang akan datang.</h2>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#donation"
                class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Donasi Sekarang</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section><!-- End Home -->

  <main id="main">
    <!-- ======= Donation Section ======= -->
    <section id="donation" class="contact">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Donasi</h2>
          <p>Donasi Sekarang</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-6">
            <div class="row">
              <div class="col-12 col-md-12">
                <h4>Daftar yang telah berdonasi</h4>
              </div>
              <div class="col-12 col-md-12 mb-3">
                <h4><span style="font-weight: bold; color: #4154f1" id="total-donation">0 Orang</span></h4>
              </div>
            </div>
            <div id="list-donation">
            </div>
            <div class="d-flex mt-2 justify-content-between">
              <div></div>
              <ul class="pagination pagination-sm d-none">
                <li class="page-item"><a href="#" class="page-link">Prev</a></li>
                <li class="page-item"><a href="#" class="page-link">Next</a></li>
              </ul>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="row">
              <div class="col-12 col-md-12">
                <h4>Donasi yang telah terkumpul</h4>
              </div>
              <div class="col-12 col-md-12 mb-3">
                <h4><span style="font-weight: bold; color: #4154f1" id="current-donation"></span></h4>
              </div>
            </div>
            <form id="form" method="post" class="php-email-form" onsubmit="payment(); return false;">
              <div class="row gy-4">

                <div class="col-md-6">
                  <input type="text" name="name" class="form-control" placeholder="Masukan nama lengkap ..." required>
                </div>

                <div class="col-md-6 ">
                  <input type="email" class="form-control" id="email" name="email" placeholder="Masukan email ..." required>
                </div>

                <div class="col-md-12 ">
                  <input type="text" class="form-control" id="phone" name="phone" placeholder="Masukan no. telepon ..." required>
                </div>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Rp.</span>
                  </div>
                  <input type="text" class="form-control form-prepend" id="amount" name="amount" placeholder="Masukan nominal ..." required>
                </div>

                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Masukan pesan ..."
                    required></textarea>
                </div>

                <div class="col-md-12 text-center">
                  <div class="services mb-3" id="content-message">
                    <div class="d-none service-box btn-danger p-3" id="error-message">
                    </div>
                  </div>
                  <button type="submit" id="submit" class="w-100">Lanjutkan Pembayaran</button>
                </div>
              </div>
            </form>
          </div>

        </div>

      </div>

    </section><!-- End Contact Section -->
    <!-- ======= Tree Family Section ======= -->
    <section id="tree-family" class="d-block">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Pohon Keluarga</h2>
          <p>Seluruh Anggota Keluarga Besar</p>
        </header>

        <div class="row">
          <div class="col-lg-12">
            <div style="width:100%; height:700px;" id="orgchart"/>
          </div>

        </div>

      </div>

    </section><!-- End Tree Family Section -->
    <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="portfolio">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Galeri</h2>
          <p>Cek galeri kita</p>
        </header>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-card">Card</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row gy-4 portfolio-container" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{base_url()}}assets/template/frontend/img/portfolio/portfolio-1.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 1</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="{{base_url()}}assets/template/frontend/img/portfolio/portfolio-1.jpg"
                    data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 1"><i
                      class="bi bi-search"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{{base_url()}}assets/template/frontend/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="{{base_url()}}assets/template/frontend/img/portfolio/portfolio-2.jpg"
                    data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 3"><i
                      class="bi bi-search"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{base_url()}}assets/template/frontend/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 2</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="{{base_url()}}assets/template/frontend/img/portfolio/portfolio-3.jpg"
                    data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 2"><i
                      class="bi bi-search"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{base_url()}}assets/template/frontend/img/portfolio/portfolio-4.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 2</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="{{base_url()}}assets/template/frontend/img/portfolio/portfolio-4.jpg"
                    data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 2"><i
                      class="bi bi-search"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{{base_url()}}assets/template/frontend/img/portfolio/portfolio-5.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 2</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="{{base_url()}}assets/template/frontend/img/portfolio/portfolio-5.jpg"
                    data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 2"><i
                      class="bi bi-search"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{{base_url()}}assets/template/frontend/img/portfolio/portfolio-6.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>App 3</h4>
                <p>App</p>
                <div class="portfolio-links">
                  <a href="{{base_url()}}assets/template/frontend/img/portfolio/portfolio-6.jpg"
                    data-gallery="portfolioGallery" class="portfokio-lightbox" title="App 3"><i
                      class="bi bi-search"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{base_url()}}assets/template/frontend/img/portfolio/portfolio-7.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 1</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="{{base_url()}}assets/template/frontend/img/portfolio/portfolio-7.jpg"
                    data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 1"><i
                      class="bi bi-search"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{{base_url()}}assets/template/frontend/img/portfolio/portfolio-8.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Card 3</h4>
                <p>Card</p>
                <div class="portfolio-links">
                  <a href="{{base_url()}}assets/template/frontend/img/portfolio/portfolio-8.jpg"
                    data-gallery="portfolioGallery" class="portfokio-lightbox" title="Card 3"><i
                      class="bi bi-search"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{{base_url()}}assets/template/frontend/img/portfolio/portfolio-9.jpg" class="img-fluid" alt="">
              <div class="portfolio-info">
                <h4>Web 3</h4>
                <p>Web</p>
                <div class="portfolio-links">
                  <a href="{{base_url()}}assets/template/frontend/img/portfolio/portfolio-9.jpg"
                    data-gallery="portfolioGallery" class="portfokio-lightbox" title="Web 3"><i
                      class="bi bi-search"></i></a>
                  <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Portfolio Section -->
    <!-- ======= Recent Events Posts Section ======= -->
    <section id="events" class="recent-blog-posts">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Kegiatan</h2>
          <p>Seluruh kegiatan</p>
        </header>

        <div class="row">

          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="{{base_url()}}assets/template/frontend/img/blog/blog-1.jpg"
                  class="img-fluid" alt=""></div>
              <span class="post-date">Tue, September 15</span>
              <h3 class="post-title">Eum ad dolor et. Autem aut fugiat debitis voluptatem consequuntur sit</h3>
              <a href="blog-singe.html" class="readmore stretched-link mt-auto"><span>Read More</span><i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="{{base_url()}}assets/template/frontend/img/blog/blog-2.jpg"
                  class="img-fluid" alt=""></div>
              <span class="post-date">Fri, August 28</span>
              <h3 class="post-title">Et repellendus molestiae qui est sed omnis voluptates magnam</h3>
              <a href="blog-singe.html" class="readmore stretched-link mt-auto"><span>Read More</span><i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="post-box">
              <div class="post-img"><img src="{{base_url()}}assets/template/frontend/img/blog/blog-3.jpg"
                  class="img-fluid" alt=""></div>
              <span class="post-date">Mon, July 11</span>
              <h3 class="post-title">Quia assumenda est et veritatis aut quae</h3>
              <a href="blog-singe.html" class="readmore stretched-link mt-auto"><span>Read More</span><i
                  class="bi bi-arrow-right"></i></a>
            </div>
          </div>

        </div>

      </div>

    </section><!-- End Recent Events Posts Section -->
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-newsletter d-none">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="index.html" class="logo d-flex align-items-center">
              <img src="{{base_url()}}assets/template/frontend/img/logo.png" alt="">
              <span>Donation</span>
            </a>
            <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies
              darta donna mare fermentum iaculis eu non diam phasellus.</p>
            <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram bx bxl-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin bx bxl-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links d-none">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links d-none">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              A108 Adam Street <br>
              New York, NY 535022<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> info@example.com<br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>DonationCendana</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{base_url()}}assets/template/frontend/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="{{base_url()}}assets/template/frontend/vendor/aos/aos.js"></script>
  <script src="{{base_url()}}assets/template/frontend/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="{{base_url()}}assets/template/frontend/vendor/purecounter/purecounter.js"></script>
  <script src="{{base_url()}}assets/template/frontend/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="{{base_url()}}assets/template/frontend/vendor/glightbox/js/glightbox.min.js"></script>
  
  <!-- jQuery -->
  <script src="{{base_url()}}assets/template/frontend/js/jquery.min.js"></script>
  
  <!-- Input Mask -->
  <script src="{{base_url()}}assets/template/frontend/js/jquery.mask.js"></script>
  <script src="{{base_url()}}assets/template/frontend/js/jquery.mask.min.js"></script>

  <!-- Template Main JS File -->
  <script src="{{base_url()}}assets/template/frontend/js/main.js"></script>

  <!-- Tree Family JS File -->
  <script src="{{base_url()}}assets/template/frontend/js/orgchart.js"></script>
  <script>
      $(document).ready(function(){
        $('#phone').mask("999-9999-9999");
        $('#amount').mask("#.##0", {reverse: true});
        listDonation();
      });

      var chart = new OrgChart(document.getElementById("orgchart"), {
          mouseScrool: OrgChart.action.none,
          enableDragDrop : false,
          nodeBinding: {
              field_0: "name",
              field_1: "title",
              img_0: "img"
          },
          nodes: [
              { id: 1, tags: ["Kakek"], name: "Denny Curtis", title: "Kakek", img: "https://cdn.balkan.app/shared/2.jpg" },
              { id: 2, pid: 1, name: "Ashley Barnett", title: "Anak 1", img: "https://cdn.balkan.app/shared/3.jpg" },
              { id: 3, pid: 1, tags: "RR", name: "Caden Ellison", title: "Anak 2", img: "https://cdn.balkan.app/shared/4.jpg" },
              { id: 4, pid: 2, name: "Elliot Patel", title: "Anak", img: "https://cdn.balkan.app/shared/5.jpg" },
              { id: 5, pid: 2, name: "Lynn Hussain", title: "Anak", img: "https://cdn.balkan.app/shared/6.jpg" },
              { id: 6, pid: 3, name: "Tanner May", title: "Anak", img: "https://cdn.balkan.app/shared/7.jpg" },
              { id: 7, pid: 3, name: "Fran Parsons", title: "Anak", img: "https://cdn.balkan.app/shared/8.jpg" },
              { id: 8, pid: 2, tags: ["Anak"], name: "Rudy Griffiths", title: "Anak", img: "https://cdn.balkan.app/shared/9.jpg" },
              { id: 9, pid: 2, tags: ["Anak"], name: "Eli Palmer", title: "Anak", img: "https://cdn.balkan.app/shared/10.jpg" },
              { id: 10, pid: 7, tags: ["Anak"], name: "Eli Palmer", title: "Anak", img: "https://cdn.balkan.app/shared/10.jpg" }
          ]
      });

      function listDonation() {
          $.ajax({
              url: "{{base_url()}}api/frontend/front/listDonation",
              type: "GET",
              dataType: "JSON",
              success: function(data) {
                var child = '';
                if (data.status) {
                  $.each(data.data, function(i, item) {
                    child += ` <div class="row gy-4">
                                    <div class="col-md-12">
                                      <div class="info-box border-bottom-gray">
                                        <div class="d-flex">
                                          <img src="{{base_url()}}assets/template/frontend/img/blog/comments-2.jpg"
                                            class="rounded-img" alt="">
                                          <div class="d-block w-100" style="margin: 0px 16px !important">
                                            <div class="d-flex justify-content-between">
                                              <h4 class="mb-0 mt-3">${item.name}</h4>
                                              <span class="text-muted mt-3 small" style="text-align: right !important;">${item.elapsed_time}</span>
                                            </div>
                                            <span class="text-muted">Berdonasi sebesar <h3 class="ml-3 mt-0">Rp. ${item.amount}</h3></span>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>`;
                  });
                  $('#total-donation').html(data.data.length + " Orang");
                } else {
                  child = ` <div class="row gy-4 mt-2">
                                  <div class="col-md-8">
                                    <img src="{{base_url()}}assets/template/frontend/img/values.png" class="img-fluid" alt="">
                                    <div class="d-block mt-4 text-center">
                                      <span class="text-muted small">${data.message}</span>
                                    </div>
                                  </div>
                                </div>`;
                }
                $('#list-donation').html(child);
                $('#current-donation').html('Rp. ' + data.total);
              },
              error: function(err) {
                  alert(err);
              }
          });
      }
      
      function payment() {
          $('#amount').unmask();
          $('#phone').unmask();
          var form_data = new FormData(document.getElementById('form'));
          $.ajax({
              url: "{{base_url()}}api/frontend/midtrans/generateToken",
              type: "POST",
              dataType: "JSON",
              data: form_data,
              processData: false,
              contentType: false,
              beforeSend: function() {
                $('#submit').html('Sedang Memproses ...');
                $('#submit').prop('disabled', true);
                $('#submit').attr('disabled', true);
              },
              success: function (data) {
                $('#phone').mask("999-9999-9999");
                $('#amount').mask("#.##0", {reverse: true});
                $('#submit').html('Lanjutkan Pembayaran');
                $('#submit').removeProp('disabled');
                $('#submit').removeAttr('disabled');
                  if (data.status) {
                    snap.pay(data.token);
                  } else {
                    $('#error-message').removeClass('d-none');
                    $('#error-message').html('<p>' + data.message + '</p>');
                    setTimeout(() => {
                      $('#error-message').addClass('d-none');
                      $('#error-message').html('');
                    }, 5000);
                  }
              },
              error: function() {
                $('#phone').mask("999-9999-9999");
                $('#amount').mask("#.##0", {reverse: true});
                $('#submit').html('Lanjutkan Pembayaran');
                $('#submit').removeProp('disabled');
                $('#submit').removeAttr('disabled');
              }
          });
      }
  </script>
</body>

</html>