<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta_head %}
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="description">
  <meta content="" name="keywords">
  {% endblock %}
  <title>{% block additional_title %}{% endblock %} - Donasi Keluarga</title>
  {% block css %}
  <!-- Favicons -->
  <link href="{{base_url()}}assets/template/frontend/img/favicon.png" rel="icon">
  <link href="{{base_url()}}assets/template/frontend/img/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="{{base_url()}}assets/template/frontend/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{base_url()}}assets/template/frontend/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="{{base_url()}}assets/template/frontend/vendor/aos/aos.css" rel="stylesheet">
  <link href="{{base_url()}}assets/template/frontend/vendor/remixicon/remixicon.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="{{base_url()}}assets/template/frontend/css/style.css" rel="stylesheet">

  <!-- Sandbox plugins -->
  <script type="text/javascript" src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="{{midtrans_key}}"></script>
  {% endblock %}
  {% block additional_css %}
  {% endblock %}

  <!-- =======================================================
  * Template Name: FlexStart - v1.1.0
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Header ======= -->
  {% block header %}{% endblock %}
  <!-- End Header -->
  <!-- Start Main Content -->
  <div id="content">
  {% block content %}
  {% endblock %}
  <!-- End Main Content -->
  </div>
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="footer-newsletter d-none">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
          </div>
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-top">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-info">
            <a href="{{base_url()}}" class="logo d-flex align-items-center">
              <img src="{{base_url()}}assets/template/frontend/img/logo.png" alt="">
              <span>DonasiKeluarga</span>
            </a>
            <p>Seluruh proses dan biaya dalam Pembentukan Badan Hukum dan Legalitas Yayasan ini sudah diselesaikan oleh para donatur dan pelaksana pembentukan. Semoga menjadi amal yang diridhai oleh Allah SWT.</p>
            <div class="social-links mt-3">
              <a href="https://www.youtube.com/channel/UCwbLYwosbBJBRSvV8YfSItw" class="facebook"><i class="bi bi-youtube"></i></a>
              <a href="https://www.instagram.com/donasikeluarga/" class="instagram"><i class="bi bi-instagram bx bxl-instagram"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links d-none">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-2 col-6 footer-links d-none">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
            <h4>Contact Us</h4>
            <p>
              Kedudukan Yayasan Jalan KH Syanwani Nomor 3 Kelurahan Kelapian Kecamatan Pontang Kabupaten Serang Provinsi Banten 42192<br><br>
              <strong>Phone :</strong> +62818919792<br>
              <strong>Email :</strong> <a href="mailto:admin@abubakarsufyan.org"> admin@abubakarsufyan.org</a><br>
            </p>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>DonasiKeluarga</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{base_url()}}assets/template/frontend/vendor/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="{{base_url()}}assets/template/frontend/vendor/aos/aos.js"></script>
  <script src="{{base_url()}}assets/template/frontend/vendor/purecounter/purecounter.js"></script>
  <script src="{{base_url()}}assets/template/frontend/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  
  <!-- jQuery -->
  <script src="{{base_url()}}assets/template/frontend/js/jquery.min.js"></script>
  {% block custom_js %}{% endblock %}
</body>
</html>