{% extends "backend/skeleton.twig" %}
{% block additional_title %}{{title}}{% endblock %}
{% block title_menu %}{{title}}{% endblock %}
{% block breadcrumb %}
<ol class="breadcrumb float-sm-right">
    <li class="breadcrumb-item"><a href="{{base_url()}}backend">Home</a></li>
    <li class="breadcrumb-item"><a href="{{base_url()}}backend/page/cardFamily">{{title}}</a></li>
    <li class="breadcrumb-item active">Form</li>
</ol>
{% endblock %}
{% block main_content %}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-right">
                <a class="btn btn-default" href="{{base_url()}}backend/page/cardFamily"><i class="fas fa-reply"></i>
                    Kembali</a>
            </div>
            <div class="col-md-12 mt-2">
                <!-- general form elements -->
                <div class="card card-outline card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Tambah Kartu Keluarga</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form id="form" method="post" enctype="multipart/form-data">
                        <div class="card-body">
                            <input type="hidden" id="id" name="id" value="{{detail.id}}" />
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="number">Nomor Kartu Keluarga <span class="text-danger">*</span></label>
                                        <input type="number" class="form-control" id="number" name="number"
                                            placeholder="Masukan nomor kartu keluarga" value="{{detail.number}}" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="name">Nama Kepala Keluarga <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control" id="name" name="name"
                                            placeholder="Masukan nama kepala keluarga" value="{{detail.head_family}}" required>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="address">Alamat <span class="text-danger">*</span></label>
                                <textarea class="form-control" id="address" name="address" rows="6"
                                    placeholder="Masukan alamat lengkap" required>{{detail.address}}</textarea>
                                {# <div id="map" style="min-height: 400px"></div> #}
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="rt">RT <span class="text-danger">*</span></label>
                                                <input type="number" class="form-control" id="rt" name="rt"
                                                    placeholder="Masukan RT" value="{{detail.rt}}" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="rw">RW <span class="text-danger">*</span></label>
                                                <input type="number" class="form-control" id="rw" name="rw"
                                                    placeholder="Masukan RW" value="{{detail.rw}}" required>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="postal_code">Kode Pos <span class="text-danger">*</span></label>
                                        <input type="number" class="form-control" id="postal_code" name="postal_code"
                                            placeholder="Masukan nama kepala keluarga" value="{{detail.postal_code}}" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="province">Provinsi <span class="text-danger">*</span></label>
                                        <select class="form-control select2" id="province" name="province" style="width: 100%;" onchange="getCity()" required>
                                            <option>Pilih Provinsi</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="city">Kabupaten / Kota <span class="text-danger">*</span></label>
                                        <select class="form-control select2" id="city" name="city" style="width: 100%;" onchange="getDistrict()" required>
                                            <option>Pilih Kabupaten / Kota</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="district">Kecamatan <span class="text-danger">*</span></label>
                                        <select class="form-control select2" id="district" name="district" style="width: 100%;" onchange="getVillage()" required>
                                            <option>Pilih Kecamatan</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="sub_district">Kelurahan <span class="text-danger">*</span></label>
                                        <select class="form-control select2" id="village" name="village" style="width: 100%;" required>
                                            <option>Pilih Kelurahan</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer text-right">
                            <a href="{{base_url()}}backend/page/cardFamily" class="btn btn-default mr-2"><i class="fas fa-reply"></i> Kembali</a>
                            <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Simpan</button>
                        </div>
                    </form>
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
</section>
{% endblock %}
{% block custom_js %}
{# <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgrDAFRkf0PTFgPOKF7-Ju8iofMhXSbRI&callback=initMap&libraries=&v=weekly"async></script> #}
<script>
    $(function () {
        $('.select2').select2();
        getProvince();
        // initMap();

        // form submit
        $('#form').validate({
            submitHandler: function () {
                var form_data = new FormData(document.getElementById('form'));
                $.ajax({
                    url: "{{base_url()}}api/backend/family/saveCardFamily",
                    type: "POST",
                    dataType: "JSON",
                    headers: {
                        "Authorization": localStorage.getItem('key')
                    },
                    data: form_data,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data.status) {
                            Swal.fire({
                                position: 'center',
                                icon: 'success',
                                title: 'Success!',
                                text: data.message,
                                showConfirmButton: true,
                                timer: 1500
                            });
                            location.href="{{base_url()}}backend/page/cardFamily"
                        } else {
                            Swal.fire({
                                position: 'center',
                                icon: 'error',
                                title: 'Oops!',
                                text: data.message,
                                showConfirmButton: true,
                            });
                        }
                    }
                });
            },
            errorElement: 'span',
            errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.closest('.form-group').append(error);
            },
            highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
            },
            unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
            }
        });
    });

    function getProvince() {
        $.ajax({
            url: "{{base_url()}}api/backend/general/listProvince",
            type: "GET",
            dataType: "JSON",
            headers: {
                "Authorization": localStorage.getItem('key')
            },
            success: function(data) {
                if (data.status) {
                    $('#province').select2('destroy');
                    $('#province').empty();
                    $('#province').select2({
                        placeholder: 'Pilih Provinsi',
                        allowClear: true,
                        data: data.data
                    });
                    if ($('#id').val() != '')
                        $("#province").val({{detail.province_id}}).trigger('change');
                    getCity();
                }
            },
            error: function(err) {
                alert(err);
            }
        });
    }

    function getCity() {
        $.ajax({
            url: "{{base_url()}}api/backend/general/listCity",
            type: "GET",
            dataType: "JSON",
            headers: {
                "Authorization": localStorage.getItem('key')
            },
            data: {
                parent_id: $('#province').val()
            },
            success: function(data) {
                if (data.status) {
                    $('#city').select2('destroy');
                    $('#city').empty();
                    $('#city').select2({
                        placeholder: 'Pilih Kota',
                        allowClear: true,
                        data: data.data
                    });
                    if ($('#id').val() != '')
                        $("#city").val({{detail.city_id}}).trigger('change');
                    getDistrict();
                }
            },
            error: function(err) {
                alert(err);
            }
        });
    }

    function getDistrict() {
        $.ajax({
            url: "{{base_url()}}api/backend/general/listDistrict",
            type: "GET",
            dataType: "JSON",
            headers: {
                "Authorization": localStorage.getItem('key')
            },
            data: {
                parent_id: $('#city').val()
            },
            success: function(data) {
                if (data.status) {
                    $('#district').select2('destroy');
                    $('#district').empty();
                    $('#district').select2({
                        placeholder: 'Pilih Kecamatan',
                        allowClear: true,
                        data: data.data
                    });
                    if ($('#id').val() != '')
                        $("#district").val({{detail.district_id}}).trigger('change');
                    getVillage();
                }
            },
            error: function(err) {
                alert(err);
            }
        });
    }

    function getVillage() {
        $.ajax({
            url: "{{base_url()}}api/backend/general/listVillage",
            type: "GET",
            dataType: "JSON",
            headers: {
                "Authorization": localStorage.getItem('key')
            },
            data: {
                parent_id: $('#district').val()
            },
            success: function(data) {
                if (data.status) {
                    $('#village').select2('destroy');
                    $('#village').empty();
                    $('#village').select2({
                        placeholder: 'Pilih Kelurahan',
                        allowClear: true,
                        data: data.data
                    });
                    if ($('#id').val() != '')
                        $("#village").val({{detail.village_id}}).trigger('change');
                }
            },
            error: function(err) {
                alert(err);
            }
        });
    }

    function initMap() {
        const myLatlng = { lat: -25.363, lng: 131.044 };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 4,
            center: myLatlng,
        });
        // Create the initial InfoWindow.
        let infoWindow = new google.maps.InfoWindow({
            content: "Click the map to get Lat/Lng!",
            position: myLatlng,
        });
        infoWindow.open(map);
        // Configure the click listener.
        map.addListener("click", (mapsMouseEvent) => {
            // Close the current InfoWindow.
            infoWindow.close();
            // Create a new InfoWindow.
            infoWindow = new google.maps.InfoWindow({
            position: mapsMouseEvent.latLng,
            });
            infoWindow.setContent(
            JSON.stringify(mapsMouseEvent.latLng.toJSON(), null, 2)
            );
            infoWindow.open(map);
        });
    }
</script>
{% endblock %}