<!DOCTYPE html>
<html lang="en">

<head>
  {% block meta_head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock %}
  <title>{% block additional_title %}{% endblock %} - Donation CMS</title>
  {% block css %}
  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="{{base_url()}}assets/template/backend/plugins/fontawesome-free/css/all.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet"
    href="{{base_url()}}assets/template/backend/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="{{base_url()}}assets/template/backend/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="{{base_url()}}assets/template/backend/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="{{base_url()}}assets/template/backend/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
  <!-- Select2 -->
  <link rel="stylesheet" href="{{base_url()}}assets/template/backend/plugins/select2/css/select2.min.css">
  <link rel="stylesheet" href="{{base_url()}}assets/template/backend/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
  <!-- iCheck for checkboxes and radio inputs -->
  <link rel="stylesheet" href="{{base_url()}}assets/template/backend/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- sweet alert framework -->
  <link rel="stylesheet" type="text/css"href="{{base_url()}}assets/template/backend/plugins/sweetalert2/sweetalert2.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{base_url()}}assets/template/backend/dist/css/adminlte.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="{{base_url()}}assets/template/backend/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- Summernote -->
  <link rel="stylesheet" href="{{base_url()}}assets/template/backend/plugins/summernote/summernote.min.css">
  {% endblock %}
</head>

<body
  class="sidebar-mini control-sidebar-slide-open accent-primary layout-fixed layout-navbar-fixed layout-footer-fixed">
  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-light-primary elevation-2">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="{{base_url()}}assets/template/frontend/img/hero-img.png" alt="Donation CMS"
        style="width: 100%; height: 50%;" />
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-2 d-block" style="margin-left: -8px; margin-right: -8px">
        <div class="d-flex">
          <div class="image mt-3">
            <img src="{{base_url()}}assets/template/backend/dist/img/user2-160x160.jpg" class="img-circle border"
              alt="User Image">
          </div>
          <div class="info mt-3">
            <a href="#" class="d-block mb-0 font-weight-bold">Admin Donasi</a>
            <span class="d-block small mt-0">Admin</span>
          </div>
        </div>
        <ul class="nav nav-sidebar flex-column mt-3 border-top" role="menu" data-accordion="false">
          <li class="nav-item border-bottom">
            <a href="" class="nav-link pt-1 pb-1 mb-0"><div class="d-flex justify-content-between"><span>Pengaturan</span> <i class="nav-icon fas fa-wrench mt-1"></i></div></a>
          </li>
          <li class="nav-item">
            <a href="{{base_url()}}backend/auth/signout" class="nav-link pt-1 pb-1"><div class="d-flex justify-content-between"><span>Keluar</span> <i class="nav-icon fas fa-power-off mt-1"></i></div></a>
          </li>
        </ul>
      </div>
      <!-- Sidebar Menu -->
      <nav class="mt-1">
        <ul class="nav nav-pills nav-sidebar flex-column nav-flat nav-child-indent nav-collapse-hide-child" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
            <a href="{{base_url()}}backend/page" class="nav-link {{(currMenu == '' ? 'active' : '')}}">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{base_url()}}backend/page/cardFamily" class="nav-link {{(currMenu == 'cardFamily' ? 'active' : '')}}">
              <i class="nav-icon fas fa-users"></i>
              <p>
                Data Keluarga
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="{{base_url()}}backend/page/donation" class="nav-link {{(currMenu == 'donation' ? 'active' : '')}}">
              <i class="nav-icon fas fa-coins"></i>
              <p>
                Data Donasi
                <span class="right badge badge-danger" id="total-donation"></span>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link {{(currMenu == 'setting' ? 'active' : '')}}">
              <i class="nav-icon fas fa-cogs"></i>
              <p>
                Setting
                <span class="right badge badge-danger" id="total-donation"></span>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="{{base_url()}}backend/page/gallery" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Galeri</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="{{base_url()}}backend/page/events" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Kegiatan</p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="{{base_url()}}backend/page/report" class="nav-link {{(currMenu == 'report' ? 'active' : '')}}">
              <i class="nav-icon fas fa-print"></i>
              <p>
                Laporan
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2 pl-3 pr-3">
          <div class="col-sm-6">
            <h1 class="m-0">{% block title_menu %}{% endblock %}</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            {% block breadcrumb %}{% endblock %}
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="pl-4 pr-4">
    {% block main_content %}
    {% endblock %}
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2021 <a href="https://abubakarsufyan.org">Donasi Cendana</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0.0
    </div>
  </footer>
  </div>
  <!-- ./wrapper -->

  {% block vendor_js %}
  <!-- REQUIRED SCRIPTS -->
  <!-- jQuery -->
  <script src="{{base_url()}}assets/template/backend/plugins/jquery/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="{{base_url()}}assets/template/backend/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- overlayScrollbars -->
  <script src="{{base_url()}}assets/template/backend/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js">
  </script>
  <!-- AdminLTE App -->
  <script src="{{base_url()}}assets/template/backend/dist/js/adminlte.js"></script>

  <!-- PAGE PLUGINS -->
  <!-- jQuery Mapael -->
  <script src="{{base_url()}}assets/template/backend/plugins/jquery-mousewheel/jquery.mousewheel.js"></script>
  <script src="{{base_url()}}assets/template/backend/plugins/raphael/raphael.min.js"></script>
  <script src="{{base_url()}}assets/template/backend/plugins/jquery-mapael/jquery.mapael.min.js"></script>
  <script src="{{base_url()}}assets/template/backend/plugins/jquery-mapael/maps/usa_states.min.js"></script>
  
  <!-- DataTables  & Plugins -->
  <script src="{{base_url()}}assets/template/backend/plugins/datatables/jquery.dataTables.min.js"></script>
  <script src="{{base_url()}}assets/template/backend/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
  <script src="{{base_url()}}assets/template/backend/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
  <script src="{{base_url()}}assets/template/backend/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
  <script src="{{base_url()}}assets/template/backend/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
  <script src="{{base_url()}}assets/template/backend/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
  
  <!-- Tempusdominus Bootstrap 4 -->
  <script src="{{base_url()}}assets/template/backend/plugins/moment/moment.min.js"></script>    
  <script src="{{base_url()}}assets/template/backend/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
  
  <!-- jquery-validation -->
  <script src="{{base_url()}}assets/template/backend/plugins/jquery-validation/jquery.validate.min.js"></script>
  <script src="{{base_url()}}assets/template/backend/plugins/jquery-validation/additional-methods.min.js"></script>
  
  <!-- Summernote -->
  <script src="{{base_url()}}assets/template/backend/plugins/summernote/summernote.min.js"></script>
  
  <!-- Select2 -->
  <script src="{{base_url()}}assets/template/backend/plugins/select2/js/select2.full.min.js"></script>

  <!-- ChartJS -->
  <script src="{{base_url()}}assets/template/backend/plugins/chart.js/Chart.min.js"></script>
  
  <!-- sweet alert js -->
  <script type="text/javascript" src="{{base_url()}}assets/template/backend/plugins/sweetalert2/sweetalert2.min.js">

  <!-- AdminLTE for demo purposes -->
  <script src="{{base_url()}}assets/template/backend/dist/js/demo.js"></script>
  {% endblock %}
  {% block custom_js %}{% endblock %}
</body>

</html>